body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;}

.botao {
    padding: 15px;
    margin: 40px;        
    font-size: 25px;
    background-color: rgb(161, 181, 226);
    color:rgb(249, 251, 253);
}